body{
    font-size: 16px;
}
p.classe-2:hover{
    color:rgb(255, 215, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em; /*em calcola 1.5 x 16px inseriti in body*/
    font-weight: bold; /*spessità del font*/
}