
header{
    background-color: pink;
    border-radius: 50px;
}
h1{
    font-family: fantasy;
    color: saddlebrown;
    font-weight: bold;
    font-size: 90;
    font-family: Verdana;
    text-align: center;
}
img{
    width: 10cm; height: 10cm;
    padding: 50px;
}
.tab1 { grid-area: tab1; background-color: rgb(77, 58, 58); border-radius: 50px;}
.tab1 img{
    width: 100px; height: 100px;
}
.tab2 { grid-area: tab2; text-align: center;}
.tab3 img{
    width: 100px; height: 100px;
}
p{
    color: white;
}
.intro{
    color: lightsteelblue;
    font-size: 20;
    font-family: Verdana;
    margin: 50;
    padding: 50;
}
.coperto:hover{
    background-image: url(https://www.heliosguzzi.com/cms/contenuto/c_2484/varianti/t_variante_242150.jpg);
}
button{
    background-color: rgb(255, 249, 179);
    font-size: 25px;
    font-family: Verdana;
    position: center;
    border-radius: 50px;
    padding: 40;
}
