*{
    font-family: Verdana;
}
header{
    background-color: rgb(191, 201, 204);
    border-radius: 50px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}
nav a{
    text-decoration: none;
    font-size: larger;
    color: rgb(255, 255, 255);
}
h1{
    color: rgb(25, 12, 3);
    font-weight: bold;
    font-size: 79px;
    text-align: center;
    font-family: 'Times New Roman';
}
button{
    background-color: rgb(125, 170, 255);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}
img{
    width: 500px;
    height: 300px;
    border-radius: 25px;
}
.tab1{
    border: 2px solid rgb(125, 170, 255);
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}
p{
    color: rgb(79, 93, 111);
    font-size: 20;
    text-align: center;
}
.tab2 p{
    text-align: left;
    color: brown;
}
.immagini{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
footer{
    text-align: center;
    padding: 10px;
    background-color: lightgray;
    margin-top: 20px;
}
.tab2 img:hover, .tab3 img:hover {
    filter: brightness(60%);
    transform: scale(1.05); /* Ingrandisce del 5% */
    cursor: pointer;
}